@import "tailwindcss";

@font-face {
  font-family: "PP Neue Montreal";
  src:
    url("/fonts/PPNeueMontreal-Regular v2.4/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Regular v2.4/PPNeueMontreal-Regular.woff") format("woff"),
    url("/fonts/PPNeueMontreal-Regular v2.4/PPNeueMontreal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src:
    url("/fonts/PPNeueMontreal-Medium v2.4/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Medium v2.4/PPNeueMontreal-Medium.woff") format("woff"),
    url("/fonts/PPNeueMontreal-Medium v2.4/PPNeueMontreal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LT Arial Rounded Bold";
  src:
    url("/fonts/LT Arial Rounded Bold/Fonts/903436/f4f51a1b-cfa4-4a10-94e5-bbba26e15311.woff2") format("woff2"),
    url("/fonts/LT Arial Rounded Bold/Fonts/903436/e21820f0-ed6c-4236-895c-9d164babebc0.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fake Receipt";
  src: url("/fonts/fake-receipt_woff/fake receipt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-green: #daffbd;
  --color-brand-black: #000000;
  --color-brand-grey: #f3f1ed;
  --font-sans: "PP Neue Montreal", Arial, Helvetica, sans-serif;
  --font-neue-montreal: "PP Neue Montreal", sans-serif;
  --font-arial-rounded: "LT Arial Rounded Bold", Arial, sans-serif;
  --font-fake-receipt: "Fake Receipt", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-arial-rounded);
}

@layer base {
  .container, .container-wide {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1199px) {
    .container, .container-wide {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1100px;
    }

    .container-wide {
      width: 1160px;
    }
  }

  @media (min-width: 1600px) {
    .container {
      width: 1400px;
    }

    .container-wide {
      width: 1540px;
    }
  }
}

